@model RailwayReservationMVC.Models.Reservation


@using (Html.BeginForm("CancelTicket", "Res", FormMethod.Post))
{

    @Html.DisplayNameFor(model => model.PNR_NO)
    @Html.TextBoxFor(model => model.PNR_NO)

    <button type="submit" name="Cancel">Cancel</button>


}

